<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fengxiang.mapper.ShoppingCartMapper">
    <!--根据用户id和商品id查询购物车数据-->
    <select id="getByUserIdAndGoodId" resultType="com.fengxiang.entity.ShoppingCart">
        select * from shopping_cart
        <where>
            <if test="userId != null">
                and user_id = #{userId}
            </if>
            <if test="goodId != null">
                and good_id = #{goodId}
            </if>
        </where>
    </select>

    <!--根据用户id查询购物车数据-->
    <select id="list" resultType="com.fengxiang.entity.ShoppingCart">
        select * from shopping_cart
        <where>
            <if test="userId != null">
                and user_id = #{userId}
            </if>
        </where>
    </select>

    <!--批量插入-->
    <insert id="insertBatch" parameterType="list">
        insert into shopping_cart
        (name, image, user_id, good_id, number, amount, create_time)
        values
        <foreach collection="carts" item="sc" separator=",">
            (#{sc.name},#{sc.image},#{sc.userId},#{sc.goodId},#{sc.number},#{sc.amount},#{sc.createTime})
        </foreach>
    </insert>
</mapper>
